<!DOCTYPE html>
<html lang="tr">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <title>E-GTS Profil</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <style>
    .form-popup {
      display: flex;
      flex-direction: column;
    }
    .form-popup label {
      background-color: #219C90;
    }
    .login-container {
      display: flex;
      align-items: center ;
      flex-direction: column;
    }
    .login-info {
      display: flex;
      flex-direction: column;
      align-items:center;
      margin: 10px;
      width: 100%;
    }
    .nameSirname{
      display: grid;
      grid-template-columns: 1fr 0.75fr;
      grid-column-gap: 20px;
    }
  </style>
</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
      <%- include('utilsEjs/headerSection') %>
      <section class="shop_section layout_padding" style="padding: 10px;">
        <div class="login-container">
          <div class="form-popup">
            <form action="/user/update" method="post" class="form-container">
              <h1>Üyelik Bilgileriniz</h1>
              
              <label for="email"><b>E-Posta</b></label>
              <input type="text" id="email1"  
              name="email" 
              placeholder="<%= user.email %>"
              onblur="checkEmail()"
              >

              <p style="color: red;" id="emailErr">Geçersiz e-posta</p>
              <% if (typeof errorE !== 'undefined') { %>
                  <p style="color: red;"><%= errorE %></p>
              <% } %>
              
              
              <label for="phone"><b>Telefon Numarası</b></label>
              <input 
                type="tel" id="phone" name="phone"  
                placeholder="<%= user.phone %>"
                onblur="checkPhone()"
                
              >
              <p style="color: red;" id="phoenErr">Geçersiz telefon numarası</p>
              <% if (typeof errorP !== 'undefined') { %>
                <p style="color: red;"><%= errorP %></p>
              <% } %>
          
              <div class="nameSurname">
                <div>
                  <label for="name"><b>Ad</b></label>
                  <label for="surname"><b>Soyad</b></label>
                </div>
                <div>
                </div>
                <input type="text" id="name"  name="name" placeholder="<%= (typeof user !== 'undefined' && user.name) || '' %>" >
                <input type="text" id="surname"  name="sirname" placeholder="<%= user.sirname %>" >
              </div>
              
              <label for="psw"><b>Şifre</b></label>
              <input type="password" id="psw1" placeholder="Yeni Şifrenizi Giriniz" value="" name="psw">
              <p id="passwordError" style="color: red;"></p>
              
              <button type="submit" class="btn">Güncelle</button>
            </form>
            <div class="form-container">
              <a href="/user/logout"><button class="btn">Çıkış Yap</button></a>
            </div>
          </div>
      </div>
      </section>
      
      <%- include('utilsEjs/footer') %>
      <%- include('utilsEjs/scriptPath') %>
      <script>
        checkPsw("psw1", "psw2", "passwordError")
      </script>
</body>
</html>