<% data.some((element, index) => { %>
    <% if (index == end) { %>
        <% return index; %>
    <% } %>
    <div class="column" data-price="<%= element.price %>" data-title="<%= element.title %>" data-index="<%= index %>">
      <div class="box">
      <a href="<%= element.slug %>%>">
          <div class="img-box">
            <img src="/images/product/<%= element.images[0].fileName %>" alt="" class="pic-1 img-fluid">
          </div>
        </a>

        <div class="detail-box">
          <div class="item1">
            <span class="category"><a href="/<%= element.slug %>"><%= element.category %></a></span>
            <a class="title" href="<%= element.slug %>%>">
              <%= element.title %>
            </a>
          </div>
          
          
        
          <div class="item3">
            <a class="item3" href="<%= element.slug %> %>">
              <span style="margin-right: 5px;  color: #D80032; font-weight: 400;">
                <%= element.price %>TL
              </span>
              <% if (element.discont) { %>
                <span style="margin-right: 5px; text-decoration: line-through;  color: inherit; ">
                  <%= element.oldPrice %>TL
                </span>
                <% } %>
            </a>
          </div>

          
        </div>
        <%- include('label', {element}) %>
        <div class="new-right">
          <form class="item2" data-tooltip="Sepete Ekle" action="/addBasket" method="post">
              <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--orange)" class="bi bi-bag-plus-fill iconBasket" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z"/>
              </svg>
              <input type="hidden" name="id" value="<%= element.id %>">
                <input type="hidden" name="title" value="<%= element.title %>">
                <input id="selectedColor" type="hidden" name="color" value="<%= element.color[0] %>">
                <input type="hidden" name="price" value="<%= element.price %>">
                <input type="hidden" name="oldPrice" value="<%= element.oldPrice %>">
                <input type="hidden" name="count" value="1">
                <input type="hidden" name="slug" value="<%= element.slug %>">
                <input type="hidden" name="options[]" value="">
                <input type="hidden" name="prices[]" value="">
              <% if (element.giftContent) { %>
                <input type="hidden" name="giftContent" value="<%= element.giftContent %>">
                <% } else { %>
                <input type="hidden" name="giftContent" value="">
              <% } %>
              <input type="hidden" name="image" value="/images/product/<%= element.images[0].fileName %>">
          </form>
      </div>
      
    </div>
  </div>
<% }) %>


<!-- index === 0 || element.highlight ? 'col-sm-6' :  --> 